body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

.datepicker {
    width: 8em;
}

#no {
    width: 4em;
}

#courseName {
    width: 5em;
}

table {
    width: 90%;
    margin: 0 auto;
}

input[type="submit"] {
    float:right;
}

input[type="number"] {
    width: 4em;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete, .deny, .confirm{
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

.confirmed{
  float: right;
  font-style: italic;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

tr .text {
  margin-left: 10px;
  margin-right: auto;
}

tr.text td {
  width:1%;
  white-space:nowrap;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

.alert-container {
  position:fixed;
  top: 10px;
  right: 10px;
  width:20%;
  display:inline-block;
}
.alert {
  overflow: hidden;
}
